blogsrc/.DS_Store
blogsrc/Thumbs.db
blogsrc/db.json
blogsrc/*.log
blogsrc/node_modules/
blogsrc/public/
blogsrc/.deploy*/
blogsrc/scaffolds
blogsrc/.gitignore

blogsrc/themes/*
!blogsrc/themes/next/
blogsrc/themes/next/.DS_Store
blogsrc/themes/next/.idea/
blogsrc/themes/next/*.log
blogsrc/themes/next/node_modules/

# Ignore unused verdors' files
blogsrc/themes/next/source/vendors/fancybox/*
!blogsrc/themes/next/source/vendors/fancybox/source/
