blog/.DS_Store
blog/Thumbs.db
blog/db.json
blog/*.log
blog/node_modules/
blog/public/
blog/.deploy*/

blog/themes/*
!blog/themes/next/
blog/themes/next/.DS_Store
blog/themes/next/.idea/
blog/themes/next/*.log
blog/themes/next/node_modules/
!blog/themes/material/

#!blog/themes/material/languages
#!blog/themes/material/layout
#!blog/themes/material/source
#!blog/themes/material/.travis.yml
#!blog/themes/material/_config.yml
#!blog/themes/material/package.json


# Ignore unused verdors' files
blog/themes/next/source/vendors/fancybox/*
!blog/themes/next/source/vendors/fancybox/source/
